
__pycache__/
*.pyc
*.log
.venv/
train_ocr/
*.pdf
*.png
*.jpg
*.jpeg
.vscode/
.idea/
uploads/
flashcards.json
cleaned_flashcards.json
.gitignore
pdf_parsing_RAG.py
.gitignore
*.pkl
*.faiss
*.pdf
cleaned_flashcards.json